.post {
  background-color: #fff;
  color: #747474;
  font-size: 0.85rem;
  margin-bottom: 5px;
}

.post .post__top {
  display: flex;
  justify-content: space-between;
  padding: 15px 16px;
}

.post .post__account {
  display: flex;
  align-items: flex-start;
}

.post__account .info {
  margin-left: 5px;
  margin-top: 2.5px;
}

.post__account .name {
  color: #000;
  margin-bottom: 2px;
}

.post__account .time__posted {
  display: flex;
  align-items: center;
}

.post__account .time__posted p {
  margin-right: 3px;
}

.post__content {
  margin-top: 5px;
  margin-bottom: 23px;
}

.post__content .post__text {
  color: #000;
  padding: 0 16px;
}

.post__content .post__media {
  margin: auto;
  margin-top: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post__media img {
  width: 100%;
  max-height: 690px;
  object-fit: contain;
}

.avatar__group {
  display: flex;
  gap: 5px;
  align-items: center;
  border-bottom: 0.5px solid rgba(99, 99, 99, 0.253);
  padding: 0 16px 5px 16px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 0.8rem;
  height: fit-content;
}

.post .icons {
  margin-bottom: 0;
  padding: 15px 16px;
}

@media screen and (max-width: 460px) {
  .post .icons {
    width: 100%;
    margin: auto;
  }
}

@media screen and (max-width: 440px) {
  .post .icons {
    width: 90%;
    margin: auto;
  }
}

.post__icons .feed__icon {
  gap: 6.5px;
  margin-bottom: 0;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.post .more {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border-radius: 100%;
  height: fit-content;
  padding: 2.5px 4px;
}

.post .more:hover {
  background-color: rgb(235, 235, 235);
}

.post .more__content {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: -14.5px;
  min-width: 160px;
  padding: 12px 16px;
  z-index: 1;
  border-top-right-radius: 0;
  margin-top: 5px;
}

.post .more__content .more__icon {
  line-height: 32px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.more__icon p {
  margin-left: 6.2px;
  font-weight: bold;
}
